
[AFC_Toolchanger Tools]

# ---- Toolhead 0 ----
[AFC_extruder extruder]
pin_tool_start: buffer
# pin_tool_start: ^!EBB0: PB6
buffer: EMU_buf0
tool_stn: 60.0
tool_stn_unload: 65.0
tool: tool T0
deadband: 10
toolchanger_unit: Tools

# ---- Toolhead 1 ----
[AFC_extruder extruder1]
pin_tool_start: buffer
# pin_tool_start: ^!EBB1: PB6
buffer: EMU_buf1
tool_stn: 60.0
tool_stn_unload: 65.0
tool: tool T1
deadband: 10
toolchanger_unit: Tools

# ---- Toolhead 2 ----
[AFC_extruder extruder2]
pin_tool_start: buffer
# pin_tool_start: ^!EBB2: PB6
buffer: EMU_buf2
tool_stn: 60.0
tool_stn_unload: 65.0
tool: tool T2
deadband: 10
toolchanger_unit: Tools

# ---- Toolhead 3 ----
[AFC_extruder extruder3]
pin_tool_start: buffer
# pin_tool_start: ^!EBB3: PB6
buffer: EMU_buf3
tool_stn: 60.0
tool_stn_unload: 65.0
tool: tool T3
deadband: 10
toolchanger_unit: Tools

# ---- Toolhead 4 ----
[AFC_extruder extruder4]
pin_tool_start: buffer
# pin_tool_start: ^!EBB4: PB6
buffer: EMU_buf4
tool_stn: 60.0
tool_stn_unload: 65.0
tool: tool T4
deadband: 10
toolchanger_unit: Tools
