[AFC_EMU EMU]
enable_assist: False
enable_kick_start: False
enable_buffer_tool_check: True

# ---------------------------------------------------------
# Lane 0 -> Toolhead 0 (extruder) | Board Slot D0
# ---------------------------------------------------------
[AFC_stepper lane0]
map: T0
unit: EMU:0
step_pin: fly:D0_STEP
dir_pin: !fly:D0_DIR
enable_pin: !fly:D0_EN
rotation_distance: 53.494165
gear_ratio: 44:10, 37:17
microsteps: 16
dist_hub: 1231.81
prep: ^fly:PB7
load: ^fly:PC10
hub: direct
buffer: EMU_buf0
extruder: extruder
load_to_hub: True

[tmc2209 AFC_stepper lane0]
uart_pin: fly:D0_CS
run_current: 0.6
sense_resistor: 0.110

[AFC_buffer EMU_buf0]
type: FPS_PSF
adc_pin: hexa:PB1
neutral_point: 0.506
max_tension: 0.103
max_compression: 0.909
reversed: false
homing_high_point: 0.808

# ---------------------------------------------------------
# Lane 1 -> Toolhead 1 (extruder1) | Board Slot D1
# ---------------------------------------------------------
[AFC_stepper lane1]
map: T1
unit: EMU:1
step_pin: fly:D1_STEP
dir_pin: !fly:D1_DIR
enable_pin: !fly:D1_EN
rotation_distance: 53.494165
gear_ratio: 44:10, 37:17
microsteps: 16
dist_hub: 1500.0
prep: ^fly:PB6
load: ^fly:PC11
hub: direct
buffer: EMU_buf1
extruder: extruder1
load_to_hub: True

[tmc2209 AFC_stepper lane1]
uart_pin: fly:D1_CS
run_current: 0.6
sense_resistor: 0.110

[AFC_buffer EMU_buf1]
type: FPS_PSF
adc_pin: hexa:PB0
neutral_point: 0.46
max_tension: 0.038
max_compression: 0.881
reversed: true
homing_high_point: 0.776

# ---------------------------------------------------------
# Lane 2 -> Toolhead 2 (extruder2) | Board Slot D2
# ---------------------------------------------------------
[AFC_stepper lane2]
map: T2
unit: EMU:2
step_pin: fly:D2_STEP
dir_pin: !fly:D2_DIR
enable_pin: !fly:D2_EN
rotation_distance: 53.494165
gear_ratio: 44:10, 37:17
microsteps: 16
dist_hub: 1500.0
prep: ^fly:PC12
load: ^fly:PA13
hub: direct
buffer: EMU_buf2
extruder: extruder2
load_to_hub: True

[tmc2209 AFC_stepper lane2]
uart_pin: fly:D2_CS
run_current: 0.6
sense_resistor: 0.110

[AFC_buffer EMU_buf2]
type: FPS_PSF
adc_pin: hexa:PA7
neutral_point: 0.503
max_tension: 0.077
max_compression: 0.929
reversed: true
homing_high_point: 0.823

# ---------------------------------------------------------
# Lane 3 -> Toolhead 3 (extruder3) | Board Slot D3
# ---------------------------------------------------------
[AFC_stepper lane3]
map: T3
unit: EMU:3
step_pin: fly:D3_STEP
dir_pin: !fly:D3_DIR
enable_pin: !fly:D3_EN
rotation_distance: 53.494165
gear_ratio: 44:10, 37:17
microsteps: 16
dist_hub: 1500.0
prep: ^fly:PB14
load: ^fly:PA14
hub: direct
buffer: EMU_buf3
extruder: extruder3
load_to_hub: True

[tmc2209 AFC_stepper lane3]
uart_pin: fly:D3_CS
run_current: 0.6
sense_resistor: 0.110

[AFC_buffer EMU_buf3]
type: FPS_PSF
adc_pin: hexa:PA6
neutral_point: 0.474
max_tension: 0.104
max_compression: 0.845
reversed: true
homing_high_point: 0.752

# ---------------------------------------------------------
# Lane 4 -> Toolhead 4 (extruder4) | Board Slot D4
# ---------------------------------------------------------
[AFC_stepper lane4]
map: T4
unit: EMU:4
step_pin: fly:D4_STEP
dir_pin: !fly:D4_DIR
enable_pin: !fly:D4_EN
rotation_distance: 53.494165
gear_ratio: 44:10, 37:17
microsteps: 16
dist_hub: 1500.0
prep: ^fly:PB13
load: ^fly:PA15
hub: direct
buffer: EMU_buf4
extruder: extruder4
load_to_hub: True

[tmc2209 AFC_stepper lane4]
uart_pin: fly:D4_CS
run_current: 0.6
sense_resistor: 0.110

[AFC_buffer EMU_buf4]
type: FPS_PSF
adc_pin: hexa:PA5
neutral_point: 0.531
max_tension: 0.089
max_compression: 0.973
reversed: false
homing_high_point: 0.863
